
.cabecario-imageem{
width: 25%


}.cabecario {
    background-image:  linear-gradient(#C91306, #240301);
    color: white
    display: flex;
    justify-content: CENTER;
    align-items: center;
    padding: 24px 0;
}